<%= form_for(@journal_entry) do |f| %>
  <% if @journal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
      <% @journal_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field date-select-field">
    <%= f.label :date %>
    <%= f.date_select :date, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author, :value => "MK", :class => "text-field" %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :class => "text-field" %>
  </div>
  <div class="actions">
    <%= link_to "cancel", :back, :class => "cancel cancel-link" %>
    <%= f.submit "create", :class => "submit" %>
  </div>
<% end %>
