<h2>New Post</h2>

<% if @post.errors.any? %>
  <ul>
  <%= @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @post, :html => { :multipart => true } do |f| %> 
  
  <div class="form-row">
    <%= f.label :title %> 
    <%= f.text_field :title, :placeholder => "title" %>
  </div><!-- .form-row-->

  <div class="form-row">
    <%= f.label :featured_image %> 
    <%= f.url_field :featured_image_url, :placeholder => "Enter a URL" %>
  </div><!-- .form-row-->
  
  <div class="form-row">  
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list %>
  </div><!-- .form-row-->

  <div class="form-row">  
    <%= f.label :draft, "Save this post a draft" %>
    <%= f.check_box :draft %>
  </div><!-- .form-row-->

  <div class="form-row">
    <%= f.label :content %> 
    <%= f.text_area :content %> 
  </div><!-- .form-row-->

  <div class="form-row">
    <%= f.submit "Publish Post" %>
  </div><!-- .form-row-->

<% end %>