<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <div class="container-fluid">
      <% if admin_signed_in? %>
        <div class="navbar navbar-static-top">

          <div class="navbar-inner">
            <div class="center">
              <ul class="nav">
                <li><%= link_to "+ New Post", new_post_path, :class => "" %></li>
                <li><%= link_to "sign out", destroy_admin_session_path, :method => :delete, :class => "" %></li>
              </ul><!-- .nav -->
            </div>
          </div><!-- .navbar-inner -->

        </div><!-- .navbar -->
      <% end %>
    
    <% if flash %>
      <div class="flash-container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
      </div>
    <% end %>

    <div class="center">

      <h1>Marshall Klickman</h1>
      <%= yield %>
    </div><!-- .main -->
  </body>
</html>
